.search {
  border: none;
  height: 9vh;
  line-height: 30px;
  margin-top: 3vh;
  padding: 10px;
  outline: none;
  -webkit-appearance: none;
  width: 18vw;
}

@media screen and (max-width: 800px) {
  .search {
    height: 6vh;
    margin-bottom: 3vh;
    margin-left: -24vw;
    width: 51vw;
  }
}

@media screen and (max-width: 450px) {
  .search {
    height: 6vh;
    margin-bottom: 3vh;
    margin-left: -12vw;
    width: 51vw;
  }
}
